<h1>Bienvenue !</h1>

<p>
  Bonjour <%= @user.username.capitalize %>
  Bienvenue sur Juice Box ! <br>
  <br>
  Un soucis, une remarque, une idée ? N'hésitez pas à nous contacter <br>
  <br>
  A bientôt, <br>
  <br>
  L'équipe de Restor'it
</p>
