.search-modal-btn{
  position: fixed;
  bottom: 3%;
  right: 3%;
  background-color: $secondary-color;
  &:hover{
    background-color: saturate( $secondary-color, 20% );
  }
}

.input-field input[type=search]:focus{
  padding-left: 50px;
  width: calc(100% - 50px);
}

.player-controlls{
  color: $secondary-color;
  cursor: pointer;
  & i{
    font-size: 40px;
  }
  &:hover{
    color: saturate( $secondary-color, 20% );
  }
}

input[type=search]{
  border-bottom: 1px solid $secondary-color;
  margin-bottom: 10px;
}

.input-field input[type=search] + label{
  color: $secondary-color
}

.input-field input[type=search] ~ .material-icons{
  top: 8px;
}

.search-scroll{
  padding-bottom: 30px;
  height: calc(100vh - 186px);
  & .row .col{
    padding: 0 0.28rem;
  }
}

#settings_title{
  text-align: center;
  margin-top: -25px;
}

.volume-input{
  width: 80%;
  margin: 20px 10% auto 10%;
}
.simulated-player{
  display: flex;
  flex-direction: row;
  & #equalizer-container{
    display: block;
    position: relative;
    z-index: 10;
    padding: 34px 46px;
    background-image: url("/transparent_disc.png");
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
    background-color: #DEDEDE;
    border-radius: 3px;
    & .equalizer {
      margin-bottom: 24px;
      margin-left: 11px;
    }
  }
}

input[type="range"]{
  border: none;
}
input[type="range"]::-webkit-slider-thumb{
  margin-top: -10px;
  height: 22px;
  width:22px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
input[type="range"]::-ms-thumb{
  margin-top: -10px;
  height: 22px;
  width:22px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
input[type="range"]::-moz-range-thumb{
  margin-top: -10px;
  height: 22px;
  width:22px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
input[type=range] + .thumb.active {
  display: none;
}
