.full-screen-container{

}

#search_modal{
  max-height: 90%;
  height: 90%;
  margin: 5% auto;
  .modal-close{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.search-modal-btn{
  position: fixed;
  bottom: 70px;
  right: 5%;
  background-color: $secondary-color;
  &:hover{
    background-color: saturate( $secondary-color, 20% );
  }
}

input[type=search]{
  border-bottom: 1px solid $secondary-color;
  margin-bottom: 10px;
}

.input-field input[type=search] + label{
  color: $secondary-color
}

.input-field input[type=search] ~ .material-icons{
  top: 8px;
}

.search-scroll{
  height: calc(100vh - 194px);
  & .row .col{
    padding: 0 0.28rem;
  }
}
