.app-background {
  background-color: $soft-background;
  min-height: 100vh;
  height: 100%;
  & h1{
    margin: 0;
    font-size: 2rem;
    padding: 1rem 1rem 0em 1rem;
  }
  & > hr{
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
  }
}

.auth-background {
  background-color: $dark-background;
  height: 100vh;
}

.clear-background {
  background-color: rgba(255, 255, 255, 0.15)
}

.dark-background {
  border-radius: 3px;
  background-color: $dark-background;
}

.soft-background {
  background-color: $soft-background;
}

.primary-background{
  background-color: $primary-color;
}

.secondary-background{
  background-color: $secondary-color;
}
