input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $dark-background inset !important;
    -webkit-text-fill-color: white !important;
}

input#search{
  border-bottom-color: #db2b57;
}
input#search:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
}

#slide-out .container{
  width: 90%;
}

.full-width{
  width: 100%;
}

a{
  cursor: pointer;
}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: white;
   opacity: 0.5
}

.pointer{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
  height: 0;
}

li {
  list-style-type: none;
}

.icon-only-btn{
  margin-right: 0 !important;
  padding-bottom: 34px;
}

.overflow-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.overflow-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: transparent;
}

.overflow-scroll::-webkit-scrollbar
{
	width: 6px;
}

.overflow-scroll::-webkit-scrollbar-thumb
{
	background-color: $primary-color;
}

.hidden{
  display: none;
}
