input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $dark-background inset !important;
    -webkit-text-fill-color: white !important;
}

input#search:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
}

.full-width{
  width: 100%;
}

.pointer{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
  height: 0;
}

li {
  list-style-type: none;
}

.icon-only-btn{
  margin-right: 0 !important;
  padding-bottom: 34px;
}

.overflow-scroll{
  overflow-y: scroll;
  padding-right: 5px;
}

.overflow-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: transparent;
}

.overflow-scroll::-webkit-scrollbar
{
	width: 6px;
}

.overflow-scroll::-webkit-scrollbar-thumb
{
	background-color: $primary-color;
}
