@media only screen and (min-width: 0px) and (max-width: 600px){
  .app-background{
    width: 100vw;
    margin-left: 0;
    height: calc(100vh - 60px);
  }
  .modal-overlay{
    display: none !important;
  }
  .my-music-content-container{
    height: calc( 100vh - 300px);
    &.tabs-hidden{
      height: calc( 100vh - 250px);
    }
    .playlist-modal-list{
      height: calc(100vh - 358px);
      margin-bottom: 10px;
    }
  }
  .my-music-nav{
    position: relative;
    display: block;
    width: 100%;
  }
  .my-music-player{
    bottom: 70px;
    width: calc(100% - 20px);
    margin: auto -20px;
  }
  .bottomnav{
    display: flex;
    font-size: 0.96rem;
  }
  .search-scroll{
    height: calc(100vh - 130px);
  }

  .room-modal{
    margin: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }

  #room_name_form{
    width: 96%
  }
  .login-btn-group{
    position: absolute;
    bottom: 2%;
    right: 2%
  }
  .room-music-list{
    height: calc(100vh - 260px);
  }
  .playlist-modal-list{
    height: calc(100vh - 148px);
    margin-bottom: 10px;
  }
  .search-modal-btn{
    bottom: 72px;
    // left: 5%;
  }
  .next-btn{
    position: absolute;
    left: calc(15% + 165px);
    top: 113.5px;
  }
  html, p, body { font-size: 13px; }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
  .app-background{
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
  .my-music-content-container{
    margin-left: 140px;
    height: calc( 100vh - 96px);
  }
  .search-scroll{
    height: calc(100vh - 205px);
  }
  .bottomnav{
    display: none;
  }
  #room_name_form{
    &.clear-background{
      width: 75%
    }
    &.dark-background{
      width: 96%
    }
  }
  .room-modal{
    margin: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .room-music-list {
    height: calc(100vh - 205px);
  }
  .playlist-modal-list{
    height: calc(100vh - 204px);
    margin-bottom: 10px;
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 2px;
    }
  }
  .next-btn{
    position: absolute;
    left: 300px;
    top: 118.1px;
  }
  html, p, body { font-size: 14px; }
}
@media only screen and (min-width: 992px){
  .app-background{
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
  .my-music-content-container{
    margin-left: 140px;
    height: calc( 100vh - 108px);;
  }
  .bottomnav{
    display: none;
  }
  #room_name_form{
    &.clear-background{
      width: 75%
    }
    &.dark-background{
      width: 96%
    }
  }
  .room-music-list {
    height: calc(100vh - 215px);
  }
  .playlist-modal-list{
    height: calc(100vh - 224px);
    margin-bottom: 10px;
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 4px;
    }
  }
  .next-btn{
    position: absolute;
    left: 300px;
    top: 126.1px;
  }
  html, p, body { font-size: 16px; }
}
