@media only screen and (min-width: 0px) and (max-width: 600px){
  #room_name_form{
    width: 96%
  }
  .login-btn-group{
    position: absolute;
    bottom: 2%;
    right: 2%
  }
  html, p, body { font-size: 12px; }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
  #room_name_form{
    width: 75%
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 2px;
    }
  }
  html, p, body { font-size: 14px; }
}
@media only screen and (min-width: 992px){
  #room_name_form{
    width: 75%
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 4px;
    }
  }
  html, p, body { font-size: 16px; }
}
