@media only screen and (min-width: 0px) and (max-width: 600px){
  .app-background{
    width: 100vw;
    margin-left: 0;
    height: calc(100vh - 60px);
  }
  .my-music-side{
    width: 100%;
    position: relative;
  }
  .my-music-content-container{
    height: calc( 100vh - 280px)
  }
  .bottomnav{
    display: flex;
    font-size: 0.96rem;
  }
  .app-background .room-modal{
    margin: 0;
  }

  #room_name_form{
    width: 96%
  }
  .login-btn-group{
    position: absolute;
    bottom: 2%;
    right: 2%
  }
  .room-music-list{
    height: calc(100vh - 250px);
  }
  .playlist-modal-list{
    height: calc(100vh - 200px);
    margin-bottom: 10px;
  }
  .search-modal-btn{
    bottom: calc(55px + 3%);
    // left: 5%;
  }
  .next-btn{
    position: absolute;
    left: 220px;
    top: 115px;
  }
  html, p, body { font-size: 13px; }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
  .app-background{
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
  .my-music-content-container{
    margin-left: 220px;
    height: calc( 100vh - 74px)
  }
  .bottomnav{
    display: none;
  }
  #room_name_form{
    &.clear-background{
      width: 75%
    }
    &.dark-background{
      width: 96%
    }
  }
  .room-music-list {
    height: calc(100vh - 195px);
  }
  .playlist-modal-list{
    height: calc(100vh - 206px);
    margin-bottom: 10px;
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 2px;
    }
  }
  .next-btn{
    position: absolute;
    left: 290px;
    top: 118px;
  }
  html, p, body { font-size: 14px; }
}
@media only screen and (min-width: 992px){
  .app-background{
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
  .my-music-content-container{
    margin-left: 220px;
    height: calc( 100vh - 82px)
  }
  .bottomnav{
    display: none;
  }
  #room_name_form{
    &.clear-background{
      width: 75%
    }
    &.dark-background{
      width: 96%
    }
  }
  .room-music-list {
    height: calc(100vh - 205px);
  }
  .playlist-modal-list{
    height: calc(100vh - 218px);
    margin-bottom: 10px;
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 4px;
    }
  }
  .next-btn{
    position: absolute;
    left: 290px;
    top: 127px;
  }
  html, p, body { font-size: 16px; }
}
