@media only screen and (min-width: 0px) and (max-width: 600px){
  .app-background{
    width: 100vw;
    margin-left: 0;
  }
  .bottomnav{
    display: flex;
  }
  #room_name_form{
    width: 96%
  }
  .login-btn-group{
    position: absolute;
    bottom: 2%;
    right: 2%
  }
  .room-music-list{
    height: calc(100vh - 250px);
  }
  html, p, body { font-size: 12px; }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
  .app-background{
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
  .bottomnav{
    display: none;
  }
  #room_name_form{
    &.clear-background{
      width: 75%
    }
    &.dark-background{
      width: 96%
    }
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 2px;
    }
  }
  html, p, body { font-size: 14px; }
}
@media only screen and (min-width: 992px){
  .app-background{
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
  .bottomnav{
    display: none;
  }
  #room_name_form{
    &.clear-background{
      width: 75%
    }
    &.dark-background{
      width: 96%
    }
  }
  .login-btn-group{
    top: 2%;
    left: 2%;
    & p {
      margin: 4px;
    }
  }
  html, p, body { font-size: 16px; }
}
