.primary-btn{
  background-color: $primary-color;
  &:hover{
    background-color: #6A85AD;
  }
}

.secondary-btn{
  background-color: $secondary-color;
  &:hover{
    background-color: #BB566C;
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px){
  .fixed-action-btn{
    bottom: 84px;
  }
}
