.frozen-field i{
  color: $primary-color;
  cursor: pointer;
}

.edit-field {
  i{
    color: #1bba75;
    cursor: pointer;
  }
  input[type=text]:not(.browser-default){
    margin: 0;
  }
}
.edit-field i:last-child{
  color: $secondary-color;
}
