.collection{
  border-left: none;
  border-right: none;
  border-top-width: 3px;
  border-color: rgba( white, .3 )
}
.collection .collection-item{
  background-color: transparent;
  border-color: rgba( white, .3 );
  padding: 10px 20px;
  &.movable{
    cursor: move;
  }
  & p{
    margin: 0;
    color: #5b576b;
  }
  & .avatar{
    width: 35px !important;
    min-width: 35px !important;
    height: 35px !important;
  }
  .margin-left-10{
    margin-top: 2px;
    line-height: 1.2rem;
  }
}
.primary-content{
  display: flex;
  justify-content: flex-start;
}

.secondary-content{
  cursor: pointer;
  margin-top: -22px;
  position: relative;
  &:hover{
    color: saturate( $secondary-color, 20% );
  }
}

.movable .secondary-content{
  margin-top: -32px;
}
