.collection{
  border-left: none;
  border-right: none;
  border-top-width: 3px;
  border-color: rgba( white, .3 )
}
.collection .collection-item{
  background-color: transparent;
  border-color: rgba( white, .3 );
  padding: 10px 20px;
  &.movable{
    cursor: move;
  }
  & p{
    margin: 0;
    color: white;
  }
  & .avatar{
    width: 35px !important;
    min-width: 35px !important;
    height: 35px !important;
  }
  .margin-left-10{
    margin-top: 2px;
    line-height: 1.2rem;
  }
}

.library-collection{
  border-top-width: 0;
  padding-bottom: 112px;
  border-bottom: none;
  .collection-item-overlay{
    position: relative;
    span > i{
      z-index: 100;
      position: absolute;
      top: 0;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      &.right-icon{
        right: 0px;
      }
      &.left-icon{
        left: 0px;
      }
      &:focus{
        color: white
      }
    }
    .collection-item{
      padding: 15px 20px 15px 40px;
      height: 50px;
      color: white;
      p{color: white}
      border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
      justify-content: space-between;
      display: flex;
      cursor: pointer;
      &:hover, &:focus, &:focus-within{
        background-color: $soft-background;
      }
    }
  }
}

.collection .collection-item:last-child{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.primary-content{
  width: calc(100% - 26px);
  display: flex;
  justify-content: flex-start;
}

.secondary-content{
  cursor: pointer;
  margin-top: -37px;
  position: relative;
  &:hover{
    color: saturate( $secondary-color, 20% );
  }
}

.movable .secondary-content{
  margin-top: -32px;
}
