

#search_modal{
  padding-top: 10px;
  overflow: hidden;
  max-height: calc(100% - 60px);
  height: 100%;
  margin: 4% auto;
  .modal-close{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

#settings_modal{

}

.right-modal.open{
  margin: 0;
  top: 0px;
  bottom: 0;
  right: 0;
  left: auto;
  width: 183px;
}
