.room-card{
  width: 150px;
  height: 150px;
  padding: 30px 10px;
  position: relative;
  overflow: hidden;
  & img{
    position: absolute;
    left: calc( 50% - 30px);
    top: 28px;
    width: 60px;
    margin-bottom: 5px;
  }
  & #equalizer-container{
    position: absolute;
    right: 60px;
    top: 30px;
  }
  & .contributors-icon{
    position: absolute;
    left: 5px;
    top: 5px;
  }

  & .white-text{
    position: absolute;
    bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
}


.room-card:hover{
  background-color: rgba(34, 33, 43, 0.6);
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.room-list-container{
  height: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  position: relative;
  .gradient-wrapper-right{
    position: relative;
    position: relative;
    right: calc(-100% + 10px);
    top: -340px;
    height: 170px;
    width: 10px;
    .gradient-border-right{
      position: fixed;
      height: 170px;
      width: 10px;
      background: $soft-background;
      background: -webkit-linear-gradient(left, transparent , $soft-background); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, transparent, $soft-background); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, transparent, $soft-background); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, transparent , $soft-background);
    }
  }
  .gradient-wrapper-left{
    position: relative;
    position: relative;
    left: 0;
    top: -170px;
    height: 170px;
    width: 10px;
    .gradient-border-left{
      position: fixed;
      height: 170px;
      width: 10px;
      background: $soft-background;
      background: -webkit-linear-gradient(right, transparent , $soft-background); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(left, transparent, $soft-background); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(left, transparent, $soft-background); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to left, transparent , $soft-background);
    }
  }
  .room-list-item {
    margin: 0 10px;
    display: inline-block;
  }
}
