@import "materialize/components/color";
$primary-color: #4f80e2 !default;
$primary-darker: #2d63ce !default;
$secondary-color: #DB2B57 !default;
$error-color: #FF5722 !default;
$dark-background: #17171c !default;
$soft-background: #34323d !default;
@import "materialize";
@import "material_icons";
@import  './variables/index';
@import './pages/index';
@import './components/index';
@import './utilities/index';
@import '../../../node_modules/react-redux-toastr/src/styles/index';
